/* START: Temporary loading indicator */
@keyframes tab-title-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
@keyframes tab-icon-bounce-spin {
  0%   { transform: rotate(0deg); }
  75%  { transform: rotate(300deg); }
  85%  { transform: rotate(350deg); }
  100% { transform: rotate(359deg); }
}

.tabbrowser-tab[busy="true"] .tab-label-container .tab-text.tab-label {
  animation: tab-title-blink 0.8s infinite;
}

/* Icon spin */
.tabbrowser-tab[busy="true"] .tab-icon-stack .tab-icon-image {
  animation: tab-icon-bounce-spin 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
/* END: Temporary loading indicator */