// https://github.com/YaLTeR/niri/wiki/
config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}
environment {
  XDG_CURRENT_DESKTOP "niri"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

// window-rule {
//     match app-id=r#"^gnome-calculator$"#
//     match app-id=r#"^galculator$"#
//     match app-id=r#"^blueman-manager$"#
//     match app-id=r#"^org\.gnome\.Nautilus$"#
//     match app-id=r#"^steam$"#
//     match app-id=r#"^xdg-desktop-portal$"#
//     open-floating true
// }

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating false
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "niri/animations.kdl"
include "niri/binds.kdl"
include "niri/layout.kdl"

include "dms/colors.kdl"
// include "dms/layout.kdl"
// include "dms/alttab.kdl"
// include "dms/binds.kdl"
include "dms/outputs.kdl"
// include "dms/cursor.kdl"
// include "dms/wpblur.kdl"
